.light-mode {
    -fx-base: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-background-color: #ccffff;
}
.light-mode .text {
    -fx-fill: #000000;
}

.light-mode .combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #000000;
}
.light-mode .label {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}
.styleModeCustom1 .light-mode .label {
    -fx-background-color: #ccffff;
    -fx-text-fill: #000000;
}

.light-mode .spinner {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #000000;
}