.dark-mode {
    -fx-base: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-background-color: #ccffff;
}
.light-mode .text {
    -fx-fill: #000000;
}

.dark-mode .combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.dark-mode .spinner {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #000000;
}